## Q1. What is data encoding? How is it useful in data science?

#### <b><u>Data Encoding</u></b>:

> Encoding is a technique of converting categorical variables into numerical values so that it could be easily fitted to a machine learning model.


#### <b><u>How it is useful in the Data Science</u></b>?


> Models only work with numerical values. For this reason, it is necessary to convert the categorical values of the features into numerical ones, So the machine can learn from those data and gives the right model.

## Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

#### <b><u>Nominal Encoding</u></b>:

> When we convert Nominal Catergorical values of features into numerical data, this type of encoding called Nominal Encoding.

In [10]:
import seaborn as sns
import pandas as pd

df_iris = sns.load_dataset('iris')

# 'species' column has the categorical data.

df_iris['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [26]:
# So we are going to convert the 'species' column of df_iris dataframe into numerical data using One Hot Encoding.

from sklearn.preprocessing import OneHotEncoder

# Initializing the OneHotEncoder Class.

encoder = OneHotEncoder()

# Training the OneHotencoder with the existing data(fit prt) and Encoding the species column data(transform 
# part) and converting the encoded data into array.

Encoded_Species_Data = encoder.fit_transform(df_iris[['species']]).toarray()

# converting the encoded array data into DataFrame

# encoder.get_feature_names_out() - helping to set the column names according to the categorical data

encoded_species_df = pd.DataFrame(Encoded_Species_Data,columns=encoder.get_feature_names_out())

# merging the 'species' column into the newly created df so that we can see the Encoded values of the
# categorical values side by side.

OneHotEncoded_df = pd.concat([df_iris['species'], encoded_species_df], axis=1)

OneHotEncoded_df

       species  species_setosa  species_versicolor  species_virginica
0       setosa             1.0                 0.0                0.0
1       setosa             1.0                 0.0                0.0
2       setosa             1.0                 0.0                0.0
3       setosa             1.0                 0.0                0.0
4       setosa             1.0                 0.0                0.0
..         ...             ...                 ...                ...
145  virginica             0.0                 0.0                1.0
146  virginica             0.0                 0.0                1.0
147  virginica             0.0                 0.0                1.0
148  virginica             0.0                 0.0                1.0
149  virginica             0.0                 0.0                1.0

[150 rows x 4 columns]

In [30]:
# Encoding a New Data with 

new_encoded_data = encoder.transform([['setosa']]).toarray()

new_encoded_data

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

## Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

One Hot Encoding is a type of Nominal Encoding. So, to encode the nominal data, we wil use One Hot Encoding technique.

## Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

* If those unique values, does not have any relation with each other, i.e they are Nominal Data, then I am going to use the One Hot Encoding Technique to Encode them.

* If those unique values in the feature have raltionship or rank between them, then I am going to use the Label Encoding or Ordinal Encoding technique.

## Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

Suppose, 'Col1' and 'Col2' have categorical data. And, both have 3 unique nominal values.

So, in nominal encoding, 'Col1' will be converted into 3 new columns and 'Col2' also will be converted into 3 new columns.


So, now after encoding of 'Col1' & 'Col2', there will be total 6+3=9 columns in the dataset.

## Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

Species, Diet and Habitat all are Nominal categorical data which does not have any order or rank or relationship within themselve. So in this case, we will use Nominal Encoding to transform the data.

## Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

1. First, we will select features with categorical data. In this case: gender, contract type & Tenure.

2. We will detect which categorical data the features are having to define which encoding technique to apply. In this case, all three features are having Nominal Data, so we will use Nominal encoding.

3. Import the OneHotEncoder from sklearn.preprocessing library

4. Initialize the encoder

5. using fit_transform() function of OneHotEncoder , will train the model and transform the Nominal data into Numerical data.